/* Estilo para a seção de hero */
.hero-section {
    background-image: url("../img/getStarted.webp");
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  .hero-text {
    max-width: 800px;
  }
  
  .hero-text h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .hero-text p {
    font-size: 1.5rem;
    margin: 20px 0;
  }
  
  .button {
    padding: 15px 30px;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .button.primary {
    background-color: #d32f2f;
    color: white;
  }
  
  .button.secondary {
    background-color: #424242;
    color: white;
  }
  
  .button:hover {
    opacity: 0.8;
  }
  